@model ExemplosPadrõesProjeto.Models.Casa
@{
    ViewData["Title"] = "Móveis";
}

<h2>Móveis</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Estilo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Estilo, Html.GetEnumSelectList<ExemplosPadrõesProjeto.Models.Moveis.EstiloEnum>(), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Estilo, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (Model.Id == 0)
            {
                <button asp-action="Salvar" asp-route-Id=@Model.Id class="btn btn-primary">Criar</button>
            }
            else
            {
                <button asp-action="Salvar" asp-route-Id=@Model.Id class="btn btn-primary">Salvar</button>
            }
        </div>


    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Moveis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CasaCriarId", Html.GetEnumSelectList<ExemplosPadrõesProjeto.Models.MovelEnum>(), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Estilo, "", new { @class = "text-danger" })
        </div>
        <button asp-action="CriarMovel" asp-route-CasaId=@Model.Id  class="btn btn-primary">Salvar</button>
        <br />
        <div class="col-md-10">
            @if (Model.Moveis != null && Model.Moveis.Count > 0)
            {
                @foreach (var item in Model.Moveis)
                {
                    <img src="@item.URL" width="50" height="50" />
                }
            }
        </div>

    </div>
}




